/*Your styles*/

 body {
    margin:10px;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}


#btn_test{
    width:150px;
    color: bisque;
    background-color: blue;
    margin-left:10px;
    border-radius:5px;
}

#btn_test3{
    width:150px;
    color: bisque;
    background-color: blue;
    margin-left:10px;
    margin-top:5px;
    border-radius:5px;
}

#btn_test4{
  /*  width:150px;*/
    color: bisque;
    background-color: blue;
  /*  margin-left:10px;
    margin-top:5px;*/
    border-radius:5px;
}

#countLayers{
    margin-left:5px;
    color: bisque;
    width:150px;
}
.selectedType{
    margin-left:5px;
    color:  bisque;
    width:150px;
}

.TypeL {
    width:150px;
    background-color: blue;
    color: bisque;
    margin: 5px;
    border-radius:5px;
}








/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}